{{ 'section.custom-store.css' | asset_url | stylesheet_tag }}

<div class="icons-title" align="center">
  <img src="{{ section.settings.slider_icon_uno | image_url }}">
  <img src="{{ section.settings.slider_icon_dos | image_url }}" class="opacity">
  <img src="{{ section.settings.slider_icon_tres | image_url }}" class="opacity">
</div>
<div class="category-title" align="center">
  <h2>
    <b>{{ section.settings.title_page }}</b>
  </h2>
</div>
<div class="category-description" align="center">
  <p>{{ section.settings.description_category }}</p>
</div>

{% schema %}
{
  "name": "Icon Title Store",
  "settings": [
    {
      "type": "text",
      "id": "title_page",
      "label": "Ingresa un título"
    },
    {
      "type": "richtext",
      "id": "description_category",
      "label": "Ingresa una descripción"
    },
    {
      "type": "image_picker",
      "id": "slider_icon_uno",
      "label": "Selecciona un icono"
    },
    {
      "type": "image_picker",
      "id": "slider_icon_dos",
      "label": "Selecciona un icono"
    },
    {
      "type": "image_picker",
      "id": "slider_icon_tres",
      "label": "Selecciona un icono"
    }
  ]
}
{% endschema %}
