{{ 'section.custom-slide.css' | asset_url | stylesheet_tag }}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    {% for block in section.blocks %}
      <div class="swiper-slide">
        <article class="slide-content">
          <span class="text-slider-first">{{ block.settings.slide_text_1 }}</span>
          <h2>
            <b>
              <mark>{{ block.settings.slide_text_2 }}</mark>
            </b>
          </h2>
          <span class="text-slider-second">{{ block.settings.slide_text_3 }}</span>
          <br>
          <div style="display: flex;" class="icon-slider-items">
            <div class="item-icon" align="center">
              <img
                src="{{ block.settings.slider_icon_first_image | image_url }}"
                style="width: 30%; margin-right: 10px;"

              ><br>
              <small>{{ block.settings.slide_icon_text_1 }}</small>
            </div>
            <div class="item-icon" align="center">
              <img
                src="{{ block.settings.slider_icon_second_image | image_url }}"
                style="width: 30%; margin-right: 10px;"

              ><br>
              <small>{{ block.settings.slide_icon_text_2 }}</small>
            </div>
            <div class="item-icon" align="center">
              <img
                src="{{ block.settings.slider_icon_third_image | image_url }}"
                style="width: 30%; margin-right: 10px;"
              >
              <br>
              <small
                ><small>{{ block.settings.slide_icon_text_3 }}</small></small
              >
            </div>
          </div>
        </article>
        <img src="{{ block.settings.slide_image | image_url }}" alt="slide-image">
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination 
  <div class="swiper-pagination"></div>-->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"><a></a></div>
  <div class="swiper-button-next"><a></a></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    
    direction: 'horizontal',
    loop: true,
    autoplay: {
      enabled: false,
      speed: 3000,
    },

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
/*
    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    */
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      speed: 2000,
      delay: 4000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Custom Slider - Banner",
  /*
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Texto Slider",
      "default": "Texto"
    }
  ],
  */
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "text",
          "id": "slide_text_1",
          "label": "Primer texto slider"
        },
        {
          "type": "text",
          "id": "slide_text_2",
          "label": "Segundo texto slider"
        },
        {
          "type": "text",
          "id": "slide_text_3",
          "label": "Tercer texto slider"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Selecciona tu imagen de fondo"
        },
        {
          "type": "image_picker",
          "id": "slider_icon_first_image",
          "label": "Selecciona el primer icono"
        },
        {
          "type": "text",
          "id": "slide_icon_text_1",
          "label": "Primer texto icono slider"
        },
        {
          "type": "image_picker",
          "id": "slider_icon_second_image",
          "label": "Selecciona el segundo icono"
        },
        {
          "type": "text",
          "id": "slide_icon_text_2",
          "label": "Segundo texto icono slider"
        },
        {
          "type": "image_picker",
          "id": "slider_icon_third_image",
          "label": "Selecciona el tercer icono"
        },
        {
          "type": "text",
          "id": "slide_icon_text_3",
          "label": "Tercer texto icono slider"
        }
      ]
    }
  ]
}
{% endschema %}
